.main-index {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 0.7fr;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo-index titulo-index titulo-index"
        "estilos-populares estilos-populares estilos-populares"
        "ofertas-destacadas ofertas-destacadas ofertas-destacadas";
    
    .titulo-index{
        grid-area: titulo-index;
        background-image:linear-gradient($color_fondo, $color_fondo_marron);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .estilos-populares { grid-area: estilos-populares;
        background-color:  $color_fondo_marron;
        
        .cortes{
            display: flex;
            flex-direction: row;
            justify-content: center;
            justify-content: space-evenly;
            border-radius: 20%;
            .carousel{
                width: 750px ;
                margin: 10px;
                .img-carousel{
                    border-radius: 45%;
                }
                .color-carrusel{
                    color: rgb(0, 0, 0);
                    background-color: $color_boton;
                    margin:0px 100px ;
                    border-radius: 10px;
                    border: 2px black solid;
                }
            }
        } 
    
    }
    .ofertas-destacadas { grid-area: ofertas-destacadas; 
        background-color: $color_fondo_oscuro;
        padding-top: 2rem;
    }
}
@include tablet {
    .main-index {  display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas:
            "titulo-index titulo-index"
            "estilos-populares estilos-populares"
            "ofertas-destacadas ofertas-destacadas";
        .titulo-index { 
            display: flex;
            justify-content: center;
            align-items: center;
        } 
    }
}