$color_fondo: rgb(249, 209, 160);
$color_fondo_claro: rgb(250, 228, 201);
$color_fondo_oscuro: rgb(65, 46, 17);
$color_fondo_marron: rgb(107, 77, 31);
$color_filtros: rgb(126, 126, 126);
$color_boton:#8a6d65;

@mixin mobile {
    @media screen and (max-width:576px){
        @content;
    }
}
@mixin tablet {
    @media screen and (max-width: 750px){
        @content;
    }
}
@mixin monitor {
    @media screen and (max-width: 1023px){
        @content;
    }
}
@mixin card_adaptada{
    .productos{
        display: flex;
        flex-wrap: wrap;
        .card{
            width: 220px;
            margin-top: 10px;
        }
    }
}