$color_fondo: rgb(249, 209, 160);
$color_fondo_claro: rgb(250, 228, 201);
$color_fondo_oscuro: rgb(65, 46, 17);
$color_fondo_marron: rgb(107, 77, 31);
$color_filtros: rgb(126, 126, 126);
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
}
body{
    background-color: $color_fondo;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    h1{
        text-align: center;
        margin: 3rem;
        color: aliceblue;
    }
    h2{
        text-align: center;
    }
    ul{
        list-style: none;
        
    }
    a{
        text-decoration: none;
        color: rgb(38, 38, 35);
    }
    .titulos{
        background-color: $color_fondo_claro;
        margin: 0px;
        border: 3px rgb(74, 72, 72) solid;
        margin: 10px 40px ;
    
    }
    .productos{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        margin: 10px;
        padding: 5px;
        .card{
            width: 19% ;
            background-color: $color_fondo_claro;
            .card-title{
                font-family: 'Times New Roman', Times, serif;
                background-color: black;
                border-radius: 4px;
                color: beige ;
                text-align: center;
            }
        }
    }
    header{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1.7fr 1.7fr;
        grid-auto-flow: row;
        grid-template-areas:
            "cabeza cabeza cabeza cabeza"
            "imagenlogo menu menu menu"
            "imagenlogo menu menu menu";
        .cabeza{
            grid-area: cabeza;
            background-color:$color_fondo_oscuro;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .buscador{
                border-radius: 2210px;
                width: 400px;
                height: 50px;
            }
            .lista{
                list-style: none;
                display: flex;
                flex-direction: row;
            }
            .redes-sociales{
                justify-content: center;
                align-items: end;
                .redes{
                    width: 40px;
                }                
            }
        }
        .imagenlogo { grid-area: imagenlogo; 
            display: flex;
            justify-content: end;
            background-color:$color_fondo;
            margin-bottom: 10px ;
            margin-top: 10px;
            .logo{
                margin: 4px;
                border: 4px rgb(65, 46, 17) double;
                border-radius: 49%;
                width: 200px;
                animation-duration: 2s;
                animation-name: movimiento_logo;
                animation-iteration-count: infinite;
            }
            @keyframes movimiento_logo {
                0%{transform: translateX(2px);}
                10%{transform: translateX(4px);}
                20%{transform: translateX(6px);}
                30%{transform: translateX(8px);}
                40%{transform: translateX(10px);}
                50%{transform: translateX(12px);}
                60%{transform: translateX(10px);}
                70%{transform: translateX(8px);}
                80%{transform: translateX(6px);}
                90%{transform: translateX(4px);}
                100%{transform: translateX(2px);}
                
            }
        }
        .menu { grid-area: menu; 
            display: flex;
            align-items: center;
            justify-content: start;
            background-color:rgb(249, 209, 160) ;
            .navegacion-li{
                padding: 25px;
                margin-left: 7rem;
                border: rgb(65, 46, 17) 2px solid;
                border-radius: 10px;
                
            }
            .nav-link{
                color: black;
                transition: all 0.2s ease;
                &:hover{
                    transform: scale(1.2 , 1.2);
                }
            }
            
        }
        
    }
    .main-index {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 0.7fr;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo-index titulo-index titulo-index"
          "estilos-populares estilos-populares estilos-populares"
          "ofertas-destacadas ofertas-destacadas ofertas-destacadas";
        
        .titulo-index{
            grid-area: titulo-index;
            background-image:linear-gradient($color_fondo, $color_fondo_marron);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .estilos-populares { grid-area: estilos-populares;
            background-color:  $color_fondo_marron;
            
            .cortes{
                display: flex;
                flex-direction: row;
                justify-content: center;
                justify-content: space-evenly;
                
                .carousel{
                    width: 750px ;
                    margin: 1rem 10px;
                    .color-carrusel{
                        color: rgb(0, 0, 0);
                        background-color: $color_fondo_claro;
                    }
                }
            } 
        
        }
        .ofertas-destacadas { grid-area: ofertas-destacadas; 
            background-color: $color_fondo_oscuro;
            padding-top: 2rem;

        }
    }
    .main-estilos {  display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
        grid-auto-columns: 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo-estilos titulo-estilos titulo-estilos titulo-estilos titulo-estilos"
          "filtro-estilos estilos-corte-masculino estilos-corte-masculino estilos-corte-masculino estilos-corte-masculino"
          "filtro-estilos estilos-corte-femenino estilos-corte-femenino estilos-corte-femenino estilos-corte-femenino";
        
        .titulo-estilos{
            grid-area: titulo-estilos;
            background-image: linear-gradient($color_fondo, $color_fondo_oscuro);
            display: flex;
            justify-content: center;
        }
        .filtro-estilos { grid-area: filtro-estilos; 
            background-color: $color_filtros;
        }
        .estilos-corte-masculino { grid-area: estilos-corte-masculino; 
            background-color: $color_fondo_oscuro;
        }
        .estilos-corte-femenino { grid-area: estilos-corte-femenino; 
            background-color: $color_fondo_marron;
        }
        
    }
    .main-tienda {  display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo-tienda titulo-tienda titulo-tienda titulo-tienda titulo-tienda"
          "filtros-tienda tienda-promociones tienda-promociones tienda-promociones tienda-promociones"
          "filtros-tienda tienda-geles tienda-geles tienda-geles tienda-geles"
          "filtros-tienda tienda-tijeras tienda-tijeras tienda-tijeras tienda-tijeras"
          "filtros-tienda tienda-tintes tienda-tintes tienda-tintes tienda-tintes";
        
        .titulo-tienda{
            grid-area: titulo-tienda;
            background-image: linear-gradient($color_fondo, $color_fondo_oscuro);
            display: flex;
            justify-content: center;
        }
        .filtros-tienda { grid-area: filtros-tienda; 
            background-color: $color_filtros;
        }
        .tienda-promociones { grid-area: tienda-promociones; 
            background-color: $color_fondo_oscuro ;
        }
        .tienda-geles { grid-area: tienda-geles; 
            background-color: $color_fondo_marron;
        }
        .tienda-tijeras { grid-area: tienda-tijeras; 
            background-color: $color_fondo_oscuro;
        }
        .tienda-tintes { grid-area: tienda-tintes; 
            background-color: $color_fondo_marron;
        }
    }
    .main-turnos {  display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows:  1fr 1fr 1fr 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo-turnos titulo-turnos titulo-turnos titulo-turnos"
          "costado-izquierdo formulario formulario costado-derecho"
          "costado-izquierdo formulario formulario costado-derecho"
          "costado-izquierdo formulario formulario costado-derecho";
        
        background-color: $color_fondo_marron;

        .titulo-turnos { grid-area: titulo-turnos; 
            background-image: linear-gradient($color_fondo, $color_fondo_marron);    
        }
        .costado-izquierdo { grid-area: costado-izquierdo; 
        
        }
        .costado-derecho { grid-area: costado-derecho; 
        }
        .formulario { grid-area: formulario; 
            background-color: $color_fondo_oscuro ;
            color: $color_fondo;
            margin: 40px 5px ;
            padding: 10px 30px;
            border-radius: 10px;
            .enviar{
                display: flex;
                justify-content: center;
                margin-top: 20px ;
            }
        }
    }
    .main-nosotros {  display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto 1fr;
        grid-auto-flow: row;
        grid-template-areas:
          "titulo-nosotros titulo-nosotros titulo-nosotros titulo-nosotros"
          "descripcion-nosotros descripcion-nosotros descripcion-nosotros descripcion-nosotros"
          "nosotros-ubicacion nosotros-ubicacion nosotros-ubicacion nosotros-ubicacion"
          "nosotros-empleados nosotros-empleados nosotros-empleados nosotros-empleados";
        
        background-color: $color_fondo_marron;
      
        .titulo-nosotros { grid-area: titulo-nosotros; 
            display: flex;
            justify-content: center;
            background-image: linear-gradient($color_fondo, $color_fondo_marron);
        }
        .descripcion-nosotros { grid-area: descripcion-nosotros;
            
            .quien{
                padding: 10px;
                margin: 5px;
                border: 3px black double;
                margin: 5px 3rem;
                display: flex;
                justify-content: center;
                background-color: $color_fondo;
                margin: 3rem;
                .quien-texto{
                    font-size: large;
                }
            }
        }
        .nosotros-ubicacion { grid-area: nosotros-ubicacion; 
            background-color: $color_fondo_oscuro;
            .ubicaciones{
                display: flex;
                justify-content: center;
                justify-content: space-evenly;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                grid-template-areas: 
                "primera-ubi seguna-ubi";
                .primera-ubi{
                    grid-area: primera-ubi;
                    background-color: $color_fondo_oscuro;
                    text-align: center;
                    color: aliceblue;
                }
                .seguna-ubi{
                    grid-area: seguna-ubi;
                    background-color: $color_fondo_oscuro;
                    text-align: center;
                    color: aliceblue;
                }
                
                .mapa{
                    width: 28rem;
                    height: 20rem;
                    margin: 20px;
                }

            }
        }

        .nosotros-empleados { grid-area: nosotros-empleados; 
            background-color: $color_fondo_marron;
            .empleados{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px;
                .carta-empleado{
                    width: 85%;
                    background-color: $color_fondo_claro;
                    font-size: large;
                    .card-title{
                        background-color: black;
                        color: azure;
                        border-radius: 5px;
                        text-align: center;
                    }
                }
            }
        }
    }

    footer{
        grid-area: footer; 
        color: rgb(155, 162, 167);
        background-color: black;
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        padding: 10px;
    }
    @media screen and (max-width: 1023px) {
        /* cabeza responsiv */
        header {  display: grid;
            grid-template-columns: 1fr 1fr ;
            grid-template-rows: auto 1fr 1fr;
            grid-auto-flow: row;
            grid-template-areas:
              "cabeza cabeza "
              "imagenlogo imagenlogo"
              "menu menu";
            .imagenlogo{
                justify-content: center;
                margin-bottom: 0;
                margin-top: 10px;
            }
            
            .menu{
                justify-content: center;
                .navegacion-li{
                    margin-left: 0;
                    margin: 1rem;
                }
            }
        }
    }
    @media screen and (max-width: 750px) {
        /* main-index responsiv */
        .main-index {  display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            grid-auto-columns: 1fr;
            grid-auto-flow: row;
            grid-template-areas:
              "titulo-index titulo-index"
              "estilos-populares estilos-populares"
              "ofertas-destacadas ofertas-destacadas";
            .titulo-index { grid-area: titulo-index; 
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .estilos-populares { grid-area: estilos-populares; }
            .ofertas-destacadas{ grid-area: ofertas-destacadas; 
                .productos{
                    display: flex;
                    flex-wrap: wrap;
                    .card{
                        width: 210px;
                        margin-top: 10px;
                    }
                }
            }    
        }
        .main-tienda {  display: grid;
            grid-template-columns: 0.5fr 1fr 1fr;
            grid-template-rows: 1fr 0.1fr auto auto auto auto;
            grid-auto-flow: row;
            grid-template-areas:
              "titulo-tienda titulo-tienda titulo-tienda"
              "filtros-tienda filtros-tienda filtros-tienda"
              "tienda-promociones tienda-promociones tienda-promociones"
              "tienda-geles tienda-geles tienda-geles"
              "tienda-tijeras tienda-tijeras tienda-tijeras"
              "tienda-tintes tienda-tintes tienda-tintes";
            .productos{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .card{
                    width: 190px;
                    margin-top: 10px;
                    margin: 5px;
                }
            }
            .titulo-tienda{
                grid-area: titulo-tienda;
            }
            .filtros-tienda{
                grid-area: filtros-tienda;
            }
            .tienda-promociones{
                grid-area: tienda-promociones;
                
            }
            .tienda-geles{
                grid-area: tienda-geles;
                
            }
            .tienda-tijeras{
                grid-area: tienda-tijeras;
                
            }
            .tienda-tintes{
                grid-area: tienda-tintes;
                
            }
        } 
        .main-estilos {  display: grid;
            grid-template-columns: 0.5fr 1fr 1fr;
            grid-template-rows: 1fr 0.1fr auto auto;
            grid-auto-flow: row;
            grid-template-areas:
              "titulo-estilos titulo-estilos titulo-estilos"
              "filtro-estilos filtro-estilos filtro-estilos"
              "estilos-corte-masculino estilos-corte-masculino estilos-corte-masculino"
              "estilos-corte-femenino estilos-corte-femenino estilos-corte-femenino";
            .productos{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                .card{
                    width: 190px;
                    margin-top: 10px;
                    margin: 5px;
                }
            }
            .main-estilos{
                grid-area: main-estilos;
            }
            .filtro-estilos{
                grid-area: filtro-estilos;
            }
            .estilos-corte-masculino{
                grid-area: estilos-corte-masculino;
                
            }
            .estilos-corte-femenino{
                grid-area: estilos-corte-femenino;
                
            }
        }
        .main-turnos{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            grid-template-areas: 
            "titulo-turnos titulo-turnos"
            "formulario formulario";
            .titulo-turnos{
                grid-area: titulo-turnos;
            }
            .formulario{
                grid-area: formulario;
                margin: 20px;
            }
        }
        .main-nosotros {  display: grid;
            grid-template-columns: 1fr 1fr 1fr ;
            grid-template-rows: auto auto auto 1fr;
            grid-auto-flow: row;
            grid-template-areas:
              "titulo-nosotros titulo-nosotros titulo-nosotros "
              "descripcion-nosotros descripcion-nosotros descripcion-nosotros"
              "nosotros-ubicacion nosotros-ubicacion nosotros-ubicacion"
              "nosotros-empleados nosotros-empleados nosotros-empleados ";
            
            .titulo-nosotros { grid-area: titulo-nosotros; 
                
            }
            .descripcion-nosotros{
                grid-area: descripcion-nosotros;
            }
            .nosotros-ubicacion{
                grid-area: nosotros-ubicacion;
                .ubicaciones{
                    display: flex;
                    justify-content: center;
                    justify-content: space-evenly;
                    display: grid;
                    grid-template-columns: 1fr ;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas: 
                    "primera-ubi"
                    "seguna-ubi";
                    .primera-ubi{
                        grid-area: primera-ubi;
                    }
                    .seguna-ubi{
                        grid-area: seguna-ubi;
                    }
                    .mapa{
                        width: 20rem;
                        height: 15rem;
                        margin: 20px;
                    }
                }
            }
            .nosotros-empleados{
                grid-area: nosotros-empleados;
            }
        }
    }
}
